name: Deploy Worker
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
    paths:
      - 'task/**'

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Lint
        run: npm run lint

      - name: Test
        run: npm run test

  build:
    if: github.base_ref == 'master' && github.head_ref == 'task'
    needs: validate
    runs-on: ubuntu-latest
    timeout-minutes: 60
    steps:
      - uses: actions/checkout@v4
      - name: Build
        run: npm run build

  deploy:
    if: github.event_name == 'push'
    needs: build
    runs-on: ubuntu-latest
    timeout-minutes: 60
    steps:
      - uses: actions/checkout@v4
      - name: Build & Deploy Worker
        uses: cloudflare/wrangler-action@v3
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
